@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 255 255 255;
    --foreground: 26 26 26;
  }

  * {
    border-color: rgb(229 231 235);
  }

  body {
    background-color: rgb(var(--background));
    color: rgb(var(--foreground));
    font-family: var(--font-sans);
    font-feature-settings: 'rlig' 1, 'calt' 1;
  }

  html {
    scroll-behavior: smooth;
    font-family: var(--font-sans);
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}